lean/.lake/
lean/build/
lean/lakefile.olean

idris/build/
**/*.ttc
**/*.ttm

**/*.checked
**/*.krml
fstar/.cache/
fstar/out/
fstar/driver/*.cm[iox]
fstar/driver/*.o

**/*_dats.c
**/*_sats.c
ats/build/

**/__pycache__/
**/*.pyc

dist/
tools/.toolchains.env

.DS_Store
